HELP.md
target/
!/.mvn/wrapper/maven-wrapper.jar

### Logs ###
/logs/
/log/

### IDEs ###
# VS Code
.vscode/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Build ###
build/

### OS files ###
.DS_Store
Thumbs.db
